@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

#controls {
    /* animation: .15s fadein; */
    display: none;
    position: absolute;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.311);
}

#duration, #duration::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: transparent;
}

#duration {
    background: transparent;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    z-index: 5;
}

#duration::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 1px black,0px 0px 1px #0d0d0d;
}

#duration:focus {
    outline: none;
}

#duration::-ms-track {
    cursor: pointer;
    width: 100%;
    height:100%;
    background: white;
    color: black;
} 

#mainvid {
    cursor: pointer;
    width: 100%;
}

#pause-overlay, #play-overlay {
    animation: fade 1s;
    height: 50px;
    width: 50px;

    align-self: center;
    animation-fill-mode: forwards;
}

#player {
    position: relative;
    flex: 1;
    cursor: pointer;
    background: rgb(201, 129, 141);
}

#progressbar {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: pink;
    width: 100%;
    z-index: 10;
}