* {
    box-sizing: border-box;
}

@keyframes fadein {
    from {
        display: block;
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

:root {
    font-family: sans-serif;
    --padding: 5px;
}

body {
    background: rgb(201, 129, 141);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root, body, #root, h1, h2, h3, p, span, div, figure, aside {
    margin: 0;
}

div, h1, h2, h3, p {
    padding: var(--padding);
}

#home {
    display: flex;
    flex-direction: column;
    flex:1;
    background: rgb(241, 207, 207);
}

#duration, #duration::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: transparent;
}
#duration {
    background: black;
}

#duration::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 1px black,0px 0px 1px #0d0d0d;
}

#duration:focus {
    outline: none;
}

#duration::-ms-track {
    cursor: pointer;

    width: 100%;
    height:100%;
    background: white;
    color: black;
} 


.profileIconWrapper {
    display: flex;
    justify-content:center;
}

.profileIcon {
    cursor: pointer;
    width: 2em;
    border-radius: 50%;
}

span, nav {
    display: flex;
    justify-content: space-evenly;
}

nav {
    background:rgb(201, 129, 141);
}

#searchbar {
    background:rgb(170, 107, 118);
    border: none;
    color: black;
}

#searchbar::placeholder {
    color: black;
    font-style: italic;
}

.row {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

#player {
    position: relative;
    flex: 1;
    width: 400px;
    background: rgb(201, 129, 141);
}

#mainvid {
    cursor: pointer;
    width: 100%;
}

#mainvid:hover + #controls {
    display: block;
}

#controls {
    animation: .15s fadein;
    display: none;
}